include MANIFEST.in
include .gitignore
include README.md
include pre_convert_md_rst_html.py
include pre/*
include pre/css/*
include requirements.txt
include cicache.txt
include *_CLIENT_ID.json.enc
include encrypt_client_secret.py
include recursive_upload.py
include test_*.py
include test_document.txt
include script_import_export/test_GoogleAppsScript_createCalendarEvent/*
include recursive_upload_backup/*
include recursive_upload_backup/_1234567890/*
include recursive_upload_backup/abcdefg/*
include googleDriveAccess/test/*
